http:// {
    redir https://{uri}
}


https:// {
    root * /etc/caddy/www
    file_server
    tls /etc/caddy/fullchain.crt /etc/caddy/key.key {
        protocols tls1.2 tls1.3
        ciphers TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256 TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256 TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384 TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384 TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256 TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256
	curves x25519
    }
    header {
        Strict-Transport-Security "max-age=31536000;"
    }
    @comment {
        path /status
        header Connection *Upgrade*
        header Upgrade websocket
    }
    reverse_proxy @comment localhost:12345


}