[Unit]
Description=File Browser
After=network.target

[Service]
ExecStart=/usr/local/bin/filebrowser -c /var/www/filebrowserconfig.json

[Install]
WantedBy=multi-user.target
